#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a:hover {
  color: blueviolet;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  /* background-color: rgb(186, 188, 155); */
  background-image: linear-gradient(rgba(54, 0, 108, 0.7), rgb(11, 11, 117));
  color: rgb(255, 0, 0);
}



button {
  border-radius: 2px;
  border: 2px solid rgb(0, 44, 17);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.input-box {
  padding: 15px;
  border-radius: 2px;
  text-align: center;
  box-shadow: 0 3px 1px #1a1a1a8b ;

}
.form{
  color:rgb(255, 255, 255);
  padding-left: 20px;
}

